<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main id="weather">
        <form>
            <fieldset>
                <input type="text" v-model="city">
                <button type="button" @click.prevent="getGeolocationData">ok</button>
            </fieldset>
            <fieldset>
                <label>
                    <p>Celsius</p>
                    <input
                        type="radio"
                        name="units"
                        value="metric"
                        v-model="units"
                        @change.prevent="getGeolocationData"
                    >
                </label>
                <label>
                    <p>Fahrenheit</p>
                    <input
                        type="radio"
                        name="units"
                        value="imperial"
                        v-model="units"
                        @change.prevent="getGeolocationData"
                    >
                </label>
            </fieldset>
        </form>
        <p v-for="(data, key) in wetherDataToShow" :key="key">
            {{ data }}
        </p>

        <p>Date: {{ formatDate }}</p>
    </main>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let fileList = new Set();
      let fileInputMulti = document.querySelector("#files");

      const fileInputOne = document.querySelector("#file-one");
      const fileInputTwo = document.querySelector("#file-two");
      const button = document.querySelector("#compare");

      function blobToBase64(blob) {
        return new Promise((resolve, _) => {
          const reader = new FileReader();
          reader.onloadend = () => resolve(reader.result);
          reader.readAsDataURL(blob);
        });
      }

      function base64ToBlob(base64) {
        const base64Array = base64.split(";base64,");
        const contentType = base64Array[0];
        const base64Data = base64Array[1];
        const byteCharacters = atob(base64Data);
        const byteNumbers = new Array(byteCharacters.length);
        for (let i in byteNumbers) {
          byteNumbers[i] = byteCharacters.charCodeAt(i);
        }
        const byteArray = new Uint8Array(byteNumbers);
        return new Blob([byteArray], {type: contentType});
      }

      async function uniqFiles(files, newFiles) {
        let tempSet = new Set(files);
        return new Promise.each((resolve, _) => {
          const tempFiles = Array.from(newFiles);
          let file;
            
          tempFiles.forEach((item) => {
            blobToBase64(item)
              .then((result) => {
                tempSet.add(result);
              });
          })
            resolve(tempSet)
          }).then(function (files) {

        })
      };

    async function addFilesToList(files, newFiles) {
        let tempSet = new Set();
        console.log(await uniqFiles(files, newFiles))
        uniqFiles(files, newFiles)
            .then((result) => {
                tempSet = result;
                console.log(result)
            })
            .then(() => {
                tempSet.forEach((item) => {
                    fileList.push({ "base64": base64ToBlob(item), file: item });
                });
            });
    }

      // ;base64,
      button.addEventListener("click", () => {
        console.log(JSON.stringify(fileInputOne.files[0]));
      });
    </script>
</body>
</html>